.sec {
  color: #f15a24;
  font-size: 19px;
}
.card .content-words {
  padding: 20px;
}
.meaningSection .icofont {
  left: 12px !important;
  font-size: 13px !important;
  top: 13px !important;
}

.meaningSection,
.meaningSection .examples-more {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.meaningSection .shortEx {
  margin: 4px 0 7px;
}
.meaningSection .shortEx em {
  color: #2a2a2a;
  font-family: 'Gentium Basic', serif;
  font-size: 18px;
}

.meaningSection .meaning-section,
.meaningSection .examples {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  display: block !important;
}

.meaningSection .meaning-section > li,
.meaningSection .examples > li {
  /* display: table; */
  counter-increment: item;
  margin-bottom: 0.6em;
}

.meaningSection .meaning-section > li:before,
.meaningSection .examples > li:before {
  content: counters(item, '.') '. ';
  /* display: table-cell; */
  padding-right: 0.6em;
  display: inline-block;
}
/*   
  .meaningSection  .meaning-section > li .examples > li {
      margin: 0;
  } */

.meaningSection .meaning-section > li .examples > li:before {
  content: counters(item, '.') ' ';
  display: inline-block;
}

.meaningSection .examples {
  margin-top: 15px;
  line-height: 24px;
  padding-left: 35px;
}

.meaningSection .examples > li {
  margin-bottom: 15px;
}
.default-according .card {
  margin-top: 0px !important;
  margin-bottom: 0px;
}
.default-according .card .card-header {
  border-radius: 0px !important;
}
.border-0 {
  border-radius: 0px !important;
}
.btn-font {
  font-size: 15px;
}
.moreExample#subTitle {
  font-family: Segoe UI, sans-serif;
  font-style: normal !important;
  font-size: 13px;
}
.moreExample {
  border-radius: 0px;
  font-size: 16px;
  color: #2a2a2a;
  font-family: 'Gentium Basic', serif;
}
.moreExample li {
  padding: 5px 10px !important;
  font-style: italic;
}
.related-words {
  margin-right: 7px;
  font-weight: bold;
}
.syn-words {
  padding: 5px !important;
}

.speaker-word .icofont {
  font-size: 25px;
  cursor: pointer;
  vertical-align: middle;
}

.speaker-word .icofont:hover {
  /* font-size: 20px; */
  color: #c91de5 !important;
}

.definition-phrase {
  padding-left: 10px;
  color: #dd0000;
}
.shortEx.phrase {
  padding-left: 10px;
}
.meaning-word.phrase {
  font-weight: bold;
}

.language-switcher-change {
  height: 33px;
}

.language-switcher-change button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.send-msg {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  cursor: pointer;
}

.file-sidebar {
  background-color: #f6f7fb;
}

.chat-default .card-body.chat-box .input-group .form-control {
  font-size: 18px;
}

.language-switcher {
  padding: 14px 8px;
  border: 1px solid #eae8ff;
  border-left: 0;
}
.search-input {
  padding: 7px;
  background-color: #fff;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search-input input {
  border: 1px solid #eae8ff;
  /* border-right: 0; */
  height: 51px !important;
  /* border-right: 1px solid #888; */
}
.search-words .dropdown-menu {
  width: 98%;
  margin-top: -6px;
  border: 1px solid #fff;
  border-top: 1px dotted #888;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 9px;
  z-index: 100;
}
.search-words .dropdown-menu .col-md-6 {
  float: left;
}
.search-words .dropdown-menu .col-md-6:first-child {
  border-right: 1px solid #777;
}
.search-words .dropdown {
  padding-top: 27px;
}
.search-words .dropdown-item {
  font-size: 16px !important;
}
.logo-wrapper {
  padding: 23px 30px;
}
.logo-wrapper img {
  width: 50%;
  margin-top: -8px;
  margin-left: 43px;
}
.ignore-order:before {
  content: '' !important;
  display: block !important;
}
.youtube {
  display: block;
  width: 100%;
  height: 330;
  background: #000;
}
#subtitle {
  padding: 4px;
  background: #000;
}
.border-subTitle {
  font-size: 19px;
  padding: 8px;
  color: #f8f8f8;
  text-shadow: 1px 1px #7b5c5e;
  text-align: center;
}
.slider-frame {
  background-color: #eae8ff;
  padding: 5px;
  position: relative;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-slider {
  /* background-color: #555; */
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-slider:hover .bg-overlay {
  opacity: 1;
  visibility: visible;
}
.img-slider .bg-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 2;
  content: '';
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  will-change: opacity, transform;
  background-color: rgba(0, 0, 0, 0.75) !important;
}
#action-item {
  overflow: hidden;
  padding: 5px;
}
.slick-next,
.slick-prev {
  background: #8c69fb !important;
}
.react-kanban-column {
  width: 90%;
}

.difference-brief {
  padding-left: 20px !important;
  list-style-type: decimal !important;
}

/* customize css */
.content-words {
  font-size: 14px;
}
.content-words h2 {
  font-size: 25px;
  margin-top: 20px;
  border-top: 1px dotted rgba(0,0,0,.1);
  padding-top: 7px;
}
.content-words h3 {
  margin-top: 16px;
    font-size: 19px;
    border-left: 2px solid #8b69fc;
    padding-left: 9px;
}
.content-words h5 {
  font-size: 16px;
}
h2 .mw-headline {
  color: #f15a24;
}
.content-words h2,
.content-words h3,
.content-words h4,
.content-words h5 {
  font-family: Roboto;
}
.content-words h5{
  display: list-item;                                              
    list-style-type: disc;      
    list-style-position: inside;
}

.content-words dd{
  margin-left: 10px;
}